@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.dau:after{
    content: " vuvip123";
    font-size: 20px;
}
.dau:before{
    content: "vuvip1123";
}
.menu_item{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
    text-decoration: none;
}
.menu_item1{
    text-transform: uppercase;
    margin: 0 15px;
    position:relative;
    color: #e8e6e3;
    font-size: 17px;
    text-decoration: none;

}
.menu_item1:before{
    contain: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ffff;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
}
.menu_item1:hover::before{
    transform: scaleY(1);
    opacity: 1;
}
