@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.header{
    width: 100% auto;
    height: 120px;
    padding: 35px;
    background-color: #181a1b;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_header img{
    display: inline-block;
    width: 222px;
    height: 80px;
}
.logo_header:hover img{
    cursor: pointer;
}
.s img{
    filter: invert(100%) sepia(0%) saturate(4128%) hue-rotate(185deg) brightness(98%) contrast(85%);
    width: 20px;
    height: 20px;
    margin: 15px;
    padding: 1px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.user:hover{
    border-bottom: 1px solid white;
}
.search:hover{
    position: relative;
    border-bottom: 1px solid white;
}
.shopping_bag:hover{
    position: relative;
    border-bottom: 1px solid white;
}
.menu:hover{
    position: relative;
    border-bottom: 1px solid white;
}
.navbar{
    position: relative;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_item{ 
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.menu_item1{
    text-transform: uppercase;
    margin: 0 25px;
    color: #e8e6e3;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
}
.menu_item1:after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background: white;
    transition: width .3s ease-in-out;
}
.menu_item1:hover:after{
    width: 100%;
    transition: width .3s ease-in-out;

}
.link_home{
    width: auto;
    height: 150px;
    padding: 70px;
    background-color: #000000;
    color: #e8e6e3;
}
.st_link_home{
    margin-left: 210px;
}
.link_home1{
    text-decoration: none;
    color: #e8e6e3;
}
.link_home1:hover{
    border-bottom: 1px solid #e8e6e3;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .img-bg{
    position: relative;
    width: 50%;
    height: 100%;
}
section .noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .noi-dung .form{
    width: 50%;
}
section .noi-dung .form h2{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #000000;
    display: inline-block;
    letter-spacing: 5px;
}
section .noi-dung .form .input-form{
    margin-bottom: 20px;
}
section .noi-dung .form .input-form span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #ffffff;
    letter-spacing: 2px;
}
section .noi-dung .form .input-form input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #000000;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
}
section .noi-dung .form .input-form input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
               0 2px 2px rgba(0,0,0,0.12),
               0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
section .noi-dung .form .input-form input[type="submit"]:hover{
    background: #f53677;
}
section .noi-dung .form .nho-dang-nhap{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}
section .noi-dung .form .input-form p{
    color: #607d8b;
}
section .noi-dung .form .input-form p a{
    color: #ff4584;
}
section .noi-dung .form h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .noi-dung .form .icon-dang-nhap{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .noi-dung .form .icon-dang-nhap li{
    list-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .noi-dung .form .icon-dang-nhap li:nth-child(1){
    color: #3b5999;
}
section .noi-dung .form .icon-dang-nhap li:nth-child(2){
    color: #dd4b39;
}
section .noi-dung .form .icon-dang-nhap li:nth-child(3){
    color: #55acee;
}
section .noi-dung .form .icon-dang-nhap li i{
    font-size: 24px;
}
@media (max-width: 768px){
    section .img-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .noi-dung{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .noi-dung .form{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
    section .noi-dung .form h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}
.nd{
    background-image: url("/Login/background.jpg");
    background-size: 100%;
}
.nd_2{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.formWraper{
    display: flex;
    width: 55%;
    height: 500px;
    background-color: yellowgreen;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow:0px 0px 20px black;
}
.formDiv{
    width: 50%;
    padding: 8%;
    background-color: lavender;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}
.formDiv h2 {
    color: green;
    margin-top: -5px;
}
.welcomeDiv{
    width: 50%;
    padding: 10px;
    background-image: url(image1.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}  
.welcomeDiv h2 {
    margin-top: 150px;
}
.socialBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.text{
    font-size: small;
}
.orDiv {
    width: 10%;
    margin: 0 auto;
    background-color: lavender;
    position: relative;
    top: -16px;
    justify-content: center;
}
.formGroup{
    width: 100%;
    position: relative;
}
.formGroup input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-style: none;
    padding-left: 30px !important;
}
input::placeholder {
    position: relative;
    left: 10px;
}
input:focus{
    border-color: red;
}
.checkBox{
    width: 100%;
    margin-top: 2px;
}
.btn{
    width: 70%;
    padding: 15px;
    background-color: green;
    margin-top: 15px;
    color: lavender;
    border-radius: 20px;
    border-style: none;
}
.btn2{
    width: 70%;
    padding: 15px;
    background-color:transparent;
    margin-top: 15px;
    color: lavender;
    border-radius: 20px;
    border-style: none;
    border: 2px solid rgb(247, 243, 243);
}
.btn:hover, .btn2:hover, .icon:hover{
    background-color: rgb(7, 80, 35);
    color: whitesmoke;
}
@media screen and (max-width: 1000px){
    .formWraper{
        width: 70%;
    }
}
@media screen and (max-width: 670px){
    .formDiv{
        width: 90%;
        border-radius: 10px 10px 10px 10px;
    }
    .welcomeDiv{
        display: none;
    }
}
.footer{
    margin: auto;
    height: 200px;
    background: #000000;
    padding: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chu_footer{
    color: white;
    margin-top: 40px;
    width: 300px;
}
.shopping{
    color: #e8e6e3;
}
.c_shopping{
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 17px;
}
.nd_shopping{
    margin-top: 35px;
    width: 80px ;
}
.nd_shopping a{
    text-decoration: none;
    color:#e8e6e3;
    letter-spacing: 1px;
    font-size: 17px;
}
.nd_shopping a:hover{
    color: #8c8274;
}
.nd_company{
    margin-top: 35px;
    width: 120px ;
}
.nd_company a{
    text-decoration: none;
    color:#e8e6e3;
    letter-spacing: 1px;
    font-size: 17px;
}
.nd_company a:hover{
    color: #8c8274;
}
.nd_sub{
    margin-top: 0px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 17px;
    color:#e8e6e3;
}
.input{
    margin-top: 35px;
}
.st_input_FOOTER{
    border: 0;
    width: 270px;
    margin-top: 0px;
    padding: 25px;
    outline: none;
    background: #000000;
    border-bottom: 2px solid #8c8274;
    font-size: 17px;
    color: #e8e6e3;
}
::-webkit-input-placeholder{
    color: #e8e6e3;
}
.plane{
    height: 15px;
    width: 15px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(29deg) brightness(108%) contrast(101%);
}

