@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    list-style: none;
}
.header{
    width: 100% auto;
    height: 120px;
    padding: 35px;
    background-color: #181a1b;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_header img{
    display: inline-block;
    width: 222px;
    height: 80px;
}
.logo_header:hover img{
    cursor: pointer;
}
.s img{
    filter: invert(100%) sepia(0%) saturate(4128%) hue-rotate(185deg) brightness(98%) contrast(85%);
    width: 20px;
    height: 20px;
    margin: 15px;
    padding: 1px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.user:hover{
    border-bottom: 1px solid white;
}
.search:hover{
    position: relative;
    border-bottom: 1px solid white;
}
.shopping_bag:hover{
    position: relative;
    border-bottom: 1px solid white;
}
.menu:hover{
    position: relative;
    border-bottom: 1px solid white;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li{
    position: relative;
    padding-top: 48px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 48px;
}
.navbar ul li a{
    color: #e8e6e3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.navbar ul li a:after{
    content: '';
    display:block;
    height: 2px;
    width: 0%;
    background: white;
    transition: width .3s ease-in-out;
}
.navbar ul li a:hover:after{
    width: 100%;
}
#gach_chan{
    border-bottom: 2px solid rgb(0, 0, 0);
}
.dropdown__menu_pagse{
    display: none;
}
.navbar ul li:hover .dropdown__menu_pagse{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#181a1b;
    border-top: 1px solid pink;
}
.dropdown__menu_pagse ul li a{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}
.dropdown__menu_pagse ul li a:after{
    content: '';
    display:block;
    height: 0px;
    width: 0%;
    background: rgb(0, 0, 0);
    transition: width .3s ease-in-out;
}
.dropdown__menu_pagse ul li a:hover{
    color:#8c8274;
}
.dropdown__menu_pagse ul li a:hover::after{
    width: 100%;
}
.dropdown__menu_pagse ul{
    display:block;
    padding-top: 25px;
    width: 200px;
}
.dropdown__menu_pagse ul li{
    padding-top: 12px;
    padding-bottom: 15px;
}
.link_home{
    width: auto;
    height: 150px;
    padding: 70px;
    background-color: #000000;
    color: #e8e6e3;
}
.st_link_home{
    margin-left: 210px;
}
.link_home1{
    text-decoration: none;
    color: #e8e6e3;
}
.link_home1:hover{
    border-bottom: 1px solid #e8e6e3;
}
.nd_artis{
    background-color: #181a1b;
    width: auto;
    height: 1600px;
    padding-top: 80px;
    padding-left: 250px;
    position: relative;
}
.nd_artist{
    display: flex;
    align-items: center;
}
.nd_artist_1{
    display:inline-block;
    margin: 20px;
}
.st_tungcai_anh{
    margin: 10px;
}
.st_anh_1{
    width: 120px;
    height: 135px;
}
.nd_artist_2{
    overflow: hidden;
    display: block;
    position: relative;
}
.st_anh_2{
    width: 630px;
    height: 730px;
    transition: all 0.3s ease-in-out;
}
.st_anh_2:hover{
    transform: scale(1.3);
    cursor: zoom-in;
}
.mua_artist{
    position: relative;
    color: #e8e6e3;
    margin: 70px;
}
.chu_artist{
    font-size: 70px;
    letter-spacing: 11px;
    font-weight: bolder;
}
.chu_artist_1{
    margin-top: 12px;
    font-size: 25px;
}
.chu_artist_2{
    margin-top: 12px;
    font-size: 17px;
}
.number_input{
    margin-top: 25px;
    display: flex;
}
input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 30px;
    border: none;
    background-color: #181a1b;
    color: #e8e6e3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
button{
    color: #8c8274;
    background-color: #181a1b;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.mua_hang{
    border: 2px solid #8c8274;
    color: #e8e6e3;
    padding: 13px;
    background-color:#000000;
    margin-left: 30px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
.mua_hang:hover{
    background-color: #8c8274;
}
.dt_artistic{
    margin-top: 40px;
}
.chu_sku{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}
.chu_sku_1{
    font-size: 20px;
    letter-spacing: 5px;
}
.chu_so{
    font-size: 16px;
    font-weight:100;
    letter-spacing: 0px;
}
.dt_artist{
    margin-top: 30px;
}
.margin_tungcai1{
    margin-top: 14px;
}
.tt_do{
    margin-top: 20px;
}
.DESCRIPTION{
    margin-top: 20px;
    display:inline-flex;
    font-size: 20px;
    color: #e8e6e3;
    letter-spacing: 5px;
    border-bottom: 2px solid black;
}
.padding_nd_descrip{
    padding-right: 500px;
}
.nd_descrip{
    margin-top: 10px;
    position: relative;
    color: #e8e6e3;
    font-size: 17px;
}
.product{
    margin-top: 50px;
    color: #e8e6e3;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
}
.list_doban{
    position:relative;
    display:inline-flex;
}
.do_ban{
    margin-top: 20px;
    padding: 15px;
}

.anh_doban{
    background-color: white;
    display: inline-block;
}
.list_anhdoban{
    width: 300px;
    height: 270px;
}
.ndcuanhdoban{
    text-align: center;
    text-decoration: none;
    color: #e8e6e3;
}
.list_chudoban{
    margin: 25px 25px;
    font-size: 17px;
    letter-spacing: 5px;
    font-weight: bold;
}

.logo_hover_list{
    align-items: center;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
    width: 300px;
    height: 360px;
    bottom: -20px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.background_logolist{
    position: relative;
    bottom: -310px;
    background-color: #181a1b;
}
.logo_hover_list1 img{
    filter: invert(97%) sepia(3%) saturate(3949%) hue-rotate(298deg) brightness(114%) contrast(83%);
    height: 40px;
    width: 40px;
    padding: 10px;
    position: relative;
}
.logo_hover_list:hover{
    bottom: 10px;
    opacity: 1;
}
.nd_product{
}
/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.footer{
    margin: auto;
    height: 200px;
    background: #000000;
    padding: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chu_footer{
    color: white;
    margin-top: 40px;
    width: 300px;
}
.shopping{
    color: #e8e6e3;
}
.c_shopping{
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 17px;
}
.nd_shopping{
    margin-top: 35px;
    width: 80px ;
}
.nd_shopping a{
    text-decoration: none;
    color:#e8e6e3;
    letter-spacing: 1px;
    font-size: 17px;
}
.nd_shopping a:hover{
    color: #8c8274;
}
.nd_company{
    margin-top: 35px;
    width: 120px ;
}
.nd_company a{
    text-decoration: none;
    color:#e8e6e3;
    letter-spacing: 1px;
    font-size: 17px;
}
.nd_company a:hover{
    color: #8c8274;
}
.nd_sub{
    margin-top: 0px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 17px;
    color:#e8e6e3;
}
.input{
    margin-top: 35px;
}
.st_input_FOOTER{
    border: 0;
    width: 270px;
    margin-top: 0px;
    padding: 25px;
    outline: none;
    background: #000000;
    border-bottom: 2px solid #8c8274;
    font-size: 17px;
    color: #e8e6e3;
}
::-webkit-input-placeholder{
    color: #e8e6e3;
}
.plane{
    height: 15px;
    width: 15px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(29deg) brightness(108%) contrast(101%);
}
